[data-showmore] {

}
[data-showmore-content] {
	position: relative;
	&::before {
		content:"";
		display:block;
		height:100px;
		width: 100%;
		position:absolute;
		bottom: 0;
		background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fcfcf7 80%);
		._showmore-active & {
			background-image: none;
		}
	}
}
[data-showmore-button] {
	span {
		&:last-child {
			display: none;
		}
		._showmore-active & {
			display: none;
			&:last-child {
				display: block;
			}
		}
	}
}
