
.security {

   &__container {

   }

   &__content {


   }



   &__title {
      padding: rem(30) 0;
   }

   &__list {
      @include adaptiveValue("font-size", 20, 14);
      line-height: 150%;
   }

   &__item {
      padding-bottom: rem(15);
   }

   &__btn {
      margin-top: rem(20);
   }
}
